{% extends "base.html" %}
{% load static %}

{% block links %}
    <link rel ="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock %}

{% block meta %}
    <meta name="csrfToken" content = '{{ csrf_token }}'>
{% endblock %}


{% block side_panel_content%}
    {% include 'parts/friends_nav.html' %}
{% endblock %}

{% block content%}
    {% include 'parts/friends_home.html' %}
    {% include 'parts/friends_section.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'friends_app/js/friends_section.js' %}"></script>
    <script src="{% static 'friends_app/js/friends_actions.js' %}"></script>
{% endblock %}

