{% load static %}
<div class="add_tag">
    <div class="tag_close"></div>

    <div class="tag_title">
        Dodaty hashtag
    </div>

    <div class="tag_field">
        <div class="tag_label">
            Nazva
        </div>

        <input
            type="placeholder"
            class="tag_input"
            placeholder="#">
    </div>

    <div class="tag_buttons">
        <button class="tag_button_close">
            Skasuvaty
        </button>

        <button class="tag_button_save">
            Sberegty
        </button>
    </div>
</div>

