<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'base.css' %}">
    {% block links %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <div class="header">
        <div class = "logo">
            <img src = "{% static 'images/logo_image.png' %}">
        </div>
        <div class = "buttons">
             <div class = "page_buttons">
                <div class = "page_text_button">
                    <a class = 'text' href = '/main'>Головна</a>
                    <img class = 'image' src = "{% static 'images/main_page_icon.png' %}">
                </div> 
                <div class = "page_text_button">
                    <a class = 'text' href = '/friends'>Друзі</a>
                     <img class = 'image' src = "{% static 'images/friends_page_icon.png' %}">
                </div>
                <div class = "page_text_button">
                    <a class = 'text' href = '/user'>Користувач</a>
                     <img class="image" src = "{% static 'images/settings_page_icon.png' %}">
                </div>
                <div class = "page_text_button">
                    <a class = 'text' href = '/post'>Мої публікації</a>
                     <img class = "image" src = "{% static 'images/post_page_icon.png' %}">
                </div>
             </div>

             <div class = "login_button">

             </div>
        </div>
    </div>
    
    <div class="side_pannel">
       {% block side_pannel_content%}
       {% endblock %}

    </div>
</body>
</html>