<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'base.css' %}">
    {% block links %}{% endblock %}
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock %}
</head>
<body>
    
    <div class = 'screen'>
        <div class="header">
            <div class = "logo">
                <a href = '/main/' class="logo_ref">
                    <img src = "{% static 'images/logo_image.png' %}">
                </a>
            </div>
            <div class = "buttons">
                <div class = "page_buttons base_text_color">
                    <a class = "page_text_button selected_button" href = '/main/'>
                        <img class = 'image' src = "{% static 'images/main_page_icon.png' %}">
                        <span class = 'text' >Головна</span>
                        
                    </a> 
                    <a class = "page_text_button" href = '/post/'>
                        <img class = "image" src = "{% static 'images/post_page_icon.png' %}">
                        <span class = 'text'>Мої публікації</span>  
                    </a>
                    <a class = "page_text_button" href = '/friends/'>
                        <img class = 'image' src = "{% static 'images/friends_page_icon.png' %}">
                        <span class = 'text' >Друзі</span>
                    </a>
                    <a class = "page_text_button" href = '/chat/'>
                        <img class = 'image' src = "{% static 'images/chat_page_icon.png' %}">
                        <span class = 'text'>Чати</span>
                    </a>

                    <a class = "page_text_button" href = '/user/settings/'>
                        <img class="image" src = "{% static 'images/settings_page_icon.png' %}">
                        <span class = 'text' >Налаштування</span>
                    </a>
                
                </div>
                <form class="logout_form" method = "post" action = "{% url 'logout'%}">
                    {% csrf_token %}
                    <button class = 'exit_button'>
                        <img src = "{% static 'images/exit_button_normal.png' %}">
                    </button>
                </form>
            </div>
        </div>
        
        <div class = 'body_div'>
            <div class="side_panel">
            {% block side_panel_content%}
            {% endblock %}
            </div>

            <div class = 'content_div'>
                <div class = 'content'>
                    {% block content%}
                    {% endblock %}
                </div>
            </div>
        </div>
        
    </div>
    <div>
        {% block scripts%}
        {% endblock %}
        <script src = '{% static "js/base.js" %}'></script>
    </div>
</body>
</html>