<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'base.css' %}">
    {% block links %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Document</title>{% endblock %}
</head>
<body>
    <div class="header">
        <div class = "logo">
            <img src = "{% static 'images/logo_image.png' %}">
        </div>
        <div class = "buttons">
             <div class = "page_buttons base_text_color">
                <a class = "page_text_button" href = '/main'>
                    <img class = 'image' src = "{% static 'images/main_page_icon.png' %}">
                    <span class = 'text' >Головна</span>
                    
                </a> 
                <a class = "page_text_button" href = '/post'>
                    <img class = "image" src = "{% static 'images/post_page_icon.png' %}">
                    <span class = 'text'>Мої публікації</span>  
                </a>
                <a class = "page_text_button" href = '/friends'>
                    <img class = 'image' src = "{% static 'images/friends_page_icon.png' %}">
                    <span class = 'text' >Друзі</span>
                </a>
                <a class = "page_text_button" href = '/chat'>
                    <img class = 'image' src = "{% static 'images/chat_page_icon.png' %}">
                    <span class = 'text'>Чати</span>
                </a>

                <a class = "page_text_button" href = '/user'>
                    <img class="image" src = "{% static 'images/settings_page_icon.png' %}">
                    <span class = 'text' >Налаштування</span>
                </a>
               
             </div>

             <div class = "login_button">

             </div>
        </div>
    </div>
    
    <div class = 'body_div'>
        <div class="side_panel">
        {% block side_panel_content%}
        {% endblock %}
        </div>

        <div class = 'content_div'>
            {% block content%}
            {% endblock %}
    </div>
    {% block scripts%}
    {% endblock %}
    </div>
</body>
</html>