{% load static %}

<div class="admin_group_settings" style = 'display: none;'>

    <div class="media settings_div">
        <img src='{% static "images/post_page_icon.png" %}'>
        <h4>Медіа</h4>
    </div>

    <div class="redact_group settings_div">
        <img src='{% static "images/edit_icon.png" %}'>
        <h4>Редагувати групу</h4>
    </div>
    <hr>
    <div class="delete_chat settings_div">
        <img src='{% static "images/bin_icon.png" %}'>
        <h4>Видалити чат</h4>
    </div>

</div>


<div class="group_settings" style = 'display: none;'>
    <div class = 'media settings_div'>
        <img src='{% static "images/post_page_icon.png" %}'>
        <h4>Медіа</h4>
    </div>
    <hr>
    <div class = 'exit_group settings_div'>
        <img src='{% static "images/exit_icon.png" %}'>
        <h4>Покинути групу</h4>
    </div>
</div>
