{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href = "{% static 'main_app/css/main.css' %}">
    <link rel="stylesheet" href = "{% static 'post_app/css/post.css' %}">
    <link rel="stylesheet" href = "{% static 'post_app/css/add_tag.css' %}">
{% endblock %}

{% block meta %}
<meta name="csrf_token" content="{{ csrf_token }}">
{% endblock %}

{% block side_panel_content %}
    <div class = "user_profile_div">
        <div class = "profile_div">
            <div class = "avatar_d">
                <img src = "{% static 'images/avatar_test.png' %}"> 
            </div>
            <div class = "username_div">
                <div class = "username_div">
                <span class = "name">
                    {% if request.user.profile.pseudonym %}
                        {{ request.user.profile.pseudonym }}
                    {% else %}
                        Користувач
                    {% endif %}
                </span>
                <span class = "username">
                    {% if request.user.username %}
                        {{ request.user.username }}
                    {% else %}
                        @id{{ request.user.id }}
                    {% endif %}
                </span>
            </div>
            </div>
        </div>
        <div class = "info_div">
            <div class = "info_slot_div">
                <span class = "info_number">566</span>
                <span class = "info_text">Дописи</span>
            </div>
            <div class = "info_slot_div" id = "center_info_slot">
                <span class = "info_number">12.1K</span>
                <span class = "info_text">Читачі</span>
            </div>
            <div class = "info_slot_div">
                <span class = "info_number">222</span>
                <span class = "info_text">Друзі</span>
            </div>
        </div>
    </div>

    <div class = "side_panel_div">
        <div class = "side_panel_text">
            <a href = '../friends/'  class = "side_panel_link">Дивитись всі</a>
            <p class = "side_panel_p">Запити</p>
        </div>
        <div class = "side_panel_content">
            {% for recent_request in recent_requests %}
                <div class="recent_request recent_action">
                    <img class = 'follower_div' src = "{% static 'images/avatar_test.png' %}">
                    <div class="from_user_info">
                        <h3>{% if recent_request.from_user.profile.pseudonym %}
                            {{recent_request.from_user.profile.pseudonym}}
                            {% else %}
                            Користувач
                            {% endif %}
                        </h3>
                        <h4>4.3к підписників</h4>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
    <div class = "side_panel_div">
        <div class = "side_panel_text">
            <a href = '../chat/' class = "side_panel_link">Дивитись всі</a>
            <p class = "side_panel_p">Повідомлення</p>
        </div>
        <div class = "side_panel_content">
            {% for recent_message in recent_messages %}
                <div class="recent_message recent_action" data-chat-id="{{ recent_message.chat_id }}">
                    <img class = 'follower_div' src = "{% static 'images/avatar_test.png' %}">
                    <div class="from_user_info">
                        <h3>
                            {% if recent_message.chat_name %}
                                {{recent_message.chat_name}}
                            {% else %}
                                {% if recent_message.last_message_sender.profile.pseudonym %}
                                {{recent_message.last_message_sender.profile.pseudonym}}
                                {% else %}
                                Користувач
                                {% endif %}
                            {% endif %}
                        </h3>
                        <h4>
                            {{recent_message.last_message}}
                        </h4>
                    </div>
                    <h5 class="recent_message_date">                            
                        
                        {% if recent_message.is_today %}
                            {{ recent_message.last_message_date|date:"H:i" }}
                        {% else %}
                            {{ recent_message.last_message_date|date:"d.m.Y" }}
                        {% endif %}
                    </h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class = 'pop-up disable' id = 'username_pop-up'>
    <div class = 'form_div' id = 'form_username_div'>
        <h1>Додай деталі про себе</h1>
        <form id = 'form_username' method = 'post' action= '{% url "set_username" %}'>
            {{form_username.as_p}}
            <div class = 'error_container' id = 'username_error_container'></div>
            <div class = 'button_container'>
                <button type="submit" class = 'style_button' id = 'continue_button'>Продовжити</button>
            </div>
        </form>  
    </div>
</div>

<div class="post_right_column">

    {% include 'parts/create_post_pannel.html' %}
    {% include 'post_list.html' %}
 
</div>
<div class="pop-up disable" id = 'post_form_pop-up'>
    {% include 'parts/post_form.html' %}
    
    {% include 'parts/add_tag.html' %}

</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'main_app/js/main.js' %}"></script>

{% endblock %}