{% load static %}
<div id='post_list'>

    {% for post in posts %}

        <div class="post">

            <div class="creator_div">

                <div class="creator_profile">

                    <div class="avatar_div">
                        <img src="{% static 'images/avatar_test.png' %}">
                    </div>

                    <h4>{{ post.author.pseudonym }}</h4>

                </div>

                <div class="signature">
                    <img src="{% static 'images/signature_test.png' %}" class="signature_test">
                </div>

            </div>

            <div class="post_div">

                <h3>{{ post.topic }}</h3>

                <p>{{ post.content }}</p>

                <div class="post_links">

                    {% for link in post.links.all %}
                        <a href = '{{ link.url }}'>{{ link.url }}</a>
                    {% endfor %}

                </div>

                <div class="post_image_div">

                    {% for image in post.images.all %}
                        <img src="{{ image.compressed.url }}">
                    {% endfor %}

                </div>

                <div class="post_info_div">

                    <div class="post_reactions">

                        <button class="reaction_button">
                            <img src="{% static 'images/like_icon.png' %}">
                            <span>120 Вподобань</span>
                        </button>

                        <button class="reaction_button">
                            <img src="{% static 'images/dislike_icon.png' %}">
                            <span>12 Не сподобалось</span>
                        </button>

                        <button class="reaction_button">
                            <img src="{% static 'images/chat_page_icon.png' %}">
                            <span>32 Коментарі</span>
                        </button>

                    </div>

                    <div class="post_views">
                        <img src="{% static 'images/visible_icon.png' %}">
                        <span>890 Переглядів</span>
                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

    <div id="load-post-line"></div>

</div>

{% block scripts %}
<script src="{% static 'main_app/js/load_post.js' %}"></script>
{% endblock %}