@font-face {
    font-family: 'GTWalsheimPro';
    src: url('fonts/GTWalsheimPro-Regular.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('fonts/GTWalsheimPro-Bold.woff');
    font-style: normal;
    font-weight: 200;
}
body{
    margin: 0;
    font-family: 'GTWalsheimPro';
    font-weight: 100;
    background-color: #FAF8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.screen{

    box-sizing: border-box;
    width: clamp(1px, 100vw, 1440px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8vh;
}

.body_div{
    box-sizing: border-box;
    display: flex; 
    flex-direction: row;  
    padding-left: 4vw;
    width: 100%;
    gap: 0.6vw;;
}

.content_div{
    display: flex; 
    width: clamp(1px, 78vw, 1060px);
    height: clamp(1px, 90vh, 900px);
    overflow-y: scroll;
    right: 0;
}

.header{
    box-sizing: border-box;
    width: 100vw;
    height: 8.1vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;

    background-color:#ffffff;
}

.buttons{
    display: flex;
    flex-direction: row;
    max-width: 775px;
    height: 100%;
    gap: 1.5vw;
}

.logo{
    width: 7.6vw;
    height: 1vw;
    display: flex;
   
}

.page_buttons{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.side_panel{
    width: 20vw;
    height: 74vh;
    display: flex;
    display: flex;
    flex-direction: column;
}

.page_text_button{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap : 0.5vw;
    text-decoration: none;
    color: black;
    border-radius: 3px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.image{
    display: flex;
    width: 1.1vw;
}

.text{
    font-size: 1rem;
}

.base_text_color{
    color: #070A1C;
}

.exit_button{
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
}

.exit_button img{
    width: 6vw;
}

.selected_button{
    background-color: #E9E5EE;
}