@font-face {
    font-family: 'GTWalsheimPro';
    src: url('fonts/GTWalsheimPro-Regular.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('fonts/GTWalsheimPro-Bold.woff');
    font-style: normal;
    font-weight: 200;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: 'GTWalsheimPro';
    font-weight: 100;
    background-color: #FAF8FF;
    gap: 1.8vh;
}

.body_div{
    box-sizing: border-box;
    display: flex; 
    flex-direction: row;  
}

.header{
    box-sizing: border-box;
    width: 100%;
    height: 8.1vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color:#ffffff;
}

.buttons{
    width: auto;
    height: 2vh;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 7.6vw;
    height: 1vw;
    display: flex;
   
}

.page_buttons{
    display: flex;
    flex-direction: row;
    gap: 1.7vw;
}

.side_panel{
    width: 24vw;
    height: 74vh;
    display: flex;
    display: flex;
    flex-direction: column;
    padding-left: 4%;
}

.page_text_button{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap : 0.5vw;
    text-decoration: none;
    color: black;
}

.image{
    display: flex;
    width: 1vw;
}

.text{
    font-size: 1rem;
}

.base_text_color{
    color: #070A1C;
}