.header{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items:center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.buttons{
    width: 70vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    margin-left: 50vw;
}

.logo{
    width: 7.5vw;
    height: 1vw;
    display: flex;
   
}

.page_buttons{
    display: flex;
    flex-direction: row;
    gap: 1.7vw;
}

.side_pannel{
    width: 18vw;
    height: 74vh;
    margin-left: 4.1%;
    display: flex;
}

.page_text_button{
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    gap : 0.5vw;
}

.image{
    display: flex;
    width: 1vw;
}

.text{
    font-size: 1.2vw;
}