.design_panel {
    display: none;

    margin-top: 15px;
}

.design_panel.active {
    display: block;
}

.tag_form {
    

    
    
    

    

    justify-content: center;
    align-items: center;
}

.tag_form.active {
    display: flex;
}

.add_tag {
    background: white;

    padding: 20px;

    border-radius: 12px;
}

.open_tag_form {
    border-radius:10vw;
    outline:none;
    box-shadow:none;
    border:none;
    background-color: white;
    width: 2.2vw;
}

.open_tag_form img {
    width: 100%;
}

.disable {
    display: none;
}