{% load static %}
{% load static %}

{% for friend in users %}
    <div class="user">
        <div class="friend_info" >
            <div class="friend_avatar">
               <img src="{% static 'images/avatar_test.png' %}"> 
            </div>
            <div class="friend_username">
                <h3 class="friend_pseudonym">{{ friend.pseudonym }}</h3>
                <h4 class="friend_name">{{ friend.username }}</h4>
            </div>
        </div>

        <div class="frame_buttons">
            {% if section == "requests" %}

                <a href="{% url 'friend_page' section friend.id %}" class="style_button add_friend_button">Підтвердити</a>
                <button data-url="{% url 'friends_actions' 'delete' friend.id %}" data-action="delete" class="reject_button friend-action-btn">Видалити</button>
    
             {% elif section == "friends" %}
                <button class="style_button add_friend_button">Повідомлення</button>
                <button data-url="{% url 'friends_actions' 'delete' friend.id %}" data-action="delete" class="reject_button friend-action-btn">Видалити</button>
    
            {% elif section == "recommendations" %}
                <a href="{% url 'friend_page' section friend.id %}" class="style_button add_friend_button">Додати</a>
                <button data-url="{% url 'friends_actions' 'ignore' friend.id %}" data-action="ignore" class="reject_button friend-action-btn">Видалити</button>
            {% endif %}
        </div>
    </div>
{% endfor %}