<main id="all-sections">
    {% for key, section in sections.items %}
        <div class="section_frame">

            <div class="section">
                <h2>{{ section.title }}</h2>
                <button data-section-link="{{ key }}">Дивитись усі</button>
            </div>
            
            <div class="cards" id="card-{{ key }}">
                {% if section.users %}
                    {% include 'parts/friends_cards.html' with users=section.users section=key %}
                {% else %}
                    <p class="no-users-text">Поки що тут порожньо</p>
                {% endif %}
            </div>

        </div>
    {% endfor %}
</main>