@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../../fonts/GTWalsheimPro-Regular.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../../fonts/GTWalsheimPro-Bold.woff');
    font-style: normal;
    font-weight: 200;
}

body{
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    font-family: 'GTWalsheimPro';
    font-weight: 100;
    background-color: #E9E5EE;
    gap: 13vh;
}

.header{
    height: 8.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.content{
    display:grid;
    grid-template-columns: 39% 61%;
    justify-content: center;
    align-items: center;
    padding-left: 25vw;
    padding-right: 20vw;
}

.auth_image{
    display: flex;
    width: 35vw;
    z-index: 1;

}

.logo{
    width: 7.6vw;
}

.form_div{
    display: flex;
    width: 20vw;
    height: 51vh;
    z-index: 10;
    border-radius: 20px;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    padding: 2.5vw;
    background-color: #ffffff;
    gap: 3.7vh;
}

.form{
    height: 21vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:3.7vh;
}

.navigation{
    display: flex;
    flex-direction: row;
}


.nav_button{
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    font-size: 1.4rem;
    color: #81818D;
}


.create_button{
    width: 100%;
    height: 4.8vh;
    border-radius: 10vw;
    outline: none;
    box-shadow: none;
    background-color: #543C52;
    color: #ffffff;
    font-family: 'GTWalsheimPro';
    font-weight: 100;

}

.selected_button{
    font-weight: 200;
    border-bottom: 0.3vh solid #543C52;
    font-family: 'GTWalsheimPro';
    font-weight: 200;
    color: #070A1C;
}

.text{
    font-size: 1.2rem;
    color: black;
}

.disable{
    display: none!important;
}

label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #070A1C;
    padding-bottom: 1vh;
}

input{
    width: 100%;
    height: 5vh;
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #CDCED2;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

form p{
    margin: 0;
}

