@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../../fonts/GTWalsheimPro-Regular.woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url('../../fonts/GTWalsheimPro-Bold.woff');
    font-style: normal;
    font-weight: 200;
}

body{
    margin: 0;
    font-family: 'GTWalsheimPro';
    font-weight: 100;
    background-color: #E9E5EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.screen{
    box-sizing: border-box;
    width: clamp(1px, 100vw, 1440px);
    height: clamp(1px, 100vh, 1024px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100vw;
    height: clamp(1px, 8.1vh, 88px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.content{
    display: flex;
    width: 100%;
    height: clamp(1px, 85%, 820px);
    justify-content: center;
    align-items:center;
}

.auth_image{
    display: flex;
    position: relative;
    left: clamp(1px, 4.5vw, 86px);
    width: clamp(1px, 35vw, 679px);
    z-index: 1;


}

.logo{
    width: clamp(1px, 7.6vw, 145px);
}

.form_div{
    box-sizing: border-box;
    display: flex;
    position: relative;
    left:clamp(1px, 8.5vw, 163px);
    width: clamp(1px, 25.3vw, 487px);
    height: fit-content;
    max-height: 552px;
    z-index: 10;
    border-radius: 20px;
    justify-content:start;
    align-items: center;
    flex-direction: column;
    padding:  clamp(1px, 2.5vw, 44px);
    background-color: #ffffff;
    gap: clamp(1px, 3.5vh, 30px);
    height: fit-content;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:clamp(1px, 3.7vh, 40px);
}

.navigation{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}


.nav_button{
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    font-size: clamp(1px, 1.6rem, 34px);
    color: #81818D;
}


.create_button{

    width: 100%;
    border-radius: 10vw;
    outline: none;
    box-shadow: none;
    background-color: #543C52;
    color: #ffffff;
    font-family: 'GTWalsheimPro';
    font-weight: 100;
    margin-top: clamp(1px, 2vh, 21.6px);
    padding: clamp(1px, 1.5vh, 16px);
}

.selected_button{
    border-bottom: clamp(1px, 0.3vh, 3.2px) solid #543C52;
    font-family: 'GTWalsheimPro';
    font-weight: 200;
    color: #070A1C;
}

.text{
    font-size: clamp(1px, 1.2rem, 24px);
    color: black;
}

.disable{
    display: none!important;
}

label{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: clamp(1px, 0.8rem, 16px);
    color: #070A1C;
    padding-bottom: clamp(1px, 0.5vh, 5.4px);
}

input{
    width: 100%;
    height: clamp(1px, 4.8vh, 42px);
    border: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #CDCED2;
    padding-left: clamp(1px, 1vw, 19.2px);
}

form{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(1px, 1.6vh, 17.3px);
}

form p{
    margin: 0;
}

.error_container{
    font-size: clamp(1px, 1rem, 22px);
    color: rgb(255, 59, 59);
}

.confirm_div{
   display: flex;
   flex-direction: row;
}

.large_text{
    font-weight: 200;
    color: #000000; 
}

.exit_button{
   border: none;
    outline: none;
    box-shadow: none;
    background: none; 
}