.content{
    display:flex;
    flex-direction: row;
}
.chat_side_panel{
    display: flex;
    flex-direction: column;
    gap: clamp(1px,1vh,7px);
}

#indiv-chats{
    border-width: 0.2vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: #D8D3DE;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 3.5%;
    gap: clamp(1px,3vh,25px);
    max-height: 100%;
    
}

#not-select, #chat{
    width: clamp(1px, 35vw, 564px);
    height: clamp(1px, 88vh, 833px);
    border-width: 0.2vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: #D8D3DE;
    background-color: #ffffff;

}

#not-select{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add_group_button{
    width: clamp(1px, 20vw, 350px);
    padding: 0;
    margin: 0;
}

.add_group_button img{
    width: 100%
}

#indiv-chats span{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: clamp(1px, 2.5vh, 23px);
    align-items: center;
    gap: 2.6%
}

#indiv-chats h1{
    font-weight: 100;
    font-size: 1.25rem;
    color: #81818D;
}
#indiv-chats img{
    height: 100%;
}

.chat_messages, .group_messages{
    border-width: 0.2vh;
    border-radius: 1vh;
    border-style: solid;
    border-color: #D8D3DE;
    background-color: #ffffff;
    height: 49%;
}

.single_contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: clamp(1px,6.5vh,46px);
    gap: clamp(1px,2vh,14px);
}

.contacts {
    display: flex;
    gap: clamp(1px,2vh,15px);
    flex-direction: column;
}

.search_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

.search_div img {
    display: flex;
    position: relative;
    height: 50%!important;
    right: 95%;
}

#search_contacts {
    height: clamp(1px,5.7vh,42px);
    width: clamp(1px,18.5vw,318px);
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}