{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href = "{% static 'chat_app/css/chat.css' %}">
{% endblock %}

{% block side_panel_content %}
<div class = 'chat_side_panel'>
    <button class = 'style_button add_group_button'>
        <img src = '{% static "images/create_group_button.png" %}'>
    </button>
    <div id="indiv-chats">
        <span>
            <img src = '{% static "images/contacts_icon.png" %}'>
            <h1>Контакти</h1>
        </span>
            {% for chat_data in individual_chats %}
                <div class="chat" data-id="{{ chat_data.chat_id }}" style="border: 2px solid black; padding: 12px; width: max-content; cursor: pointer; margin: 10px;">
                    <h3>{{ chat_data.other_user.pseudonym }}</h3>
                </div>
            {% endfor%}
</div> 
</div> 
{% endblock %}

{% block content %} 
<div id="chat" style="display: none; margin: 100px;">
    <div id="messages"></div>
    <div id="control-elements">
        <input type="text" id="msg-input">
        <button id="send-msg">Send</button>
    </div>
</div>
<div id="not-select">
    <h1 style="text-align: center;">Почніть нове спілкування</h1>
    <p style="text-align: center;">Оберіть контакт зі списку ліворуч <br> або створіть групу, щоб почати спілкування</p>
</div>
<div class = 'block_messages'>
    <div class = 'chat_messages'>
        <div class = 'message_nav'>
            <span class = 'nav_text'>
                <img src = '{% static "images/chat_page_icon.png" %}'>
                <h2>Повідомлення</h2>
            <span>

            <button class = 'show_all'>Дивитись всі</button>

        </div>

        <div class = 'last_chat_messages'>

        </div>

    </div>
    <div class = 'group_messages'>
        <div class = 'message_nav'>
            <span class = 'nav_text'>
                <img src= '{% static "images/chat_page_icon.png" %}'>
                <h2>Групові чати</h2>
            <span>

            <button class = 'show_all'>Дивитись всі</button>

        </div>
    </div>
</div>

    
{%endblock%}

{%block scripts%}
    <script src = "{% static 'chat_app/js/chat.js' %}"></script>
{% endblock %}