{% extends "base.html" %}

{% load static %}

{% block links %}
<link rel="stylesheet" href = "{% static 'chat_app/css/chat.css' %}">
{% endblock %}

{% block meta %}
    <meta name = 'csrfToken' content = '{{ csrf_token }}'>
{% endblock %}

{% block side_panel_content %}
<div class = 'chat_side_panel'>
    <button class = 'style_button add_group_button'>
        <img src = '{% static "images/create_group_button.png" %}'>
    </button>
    <div id="indiv-chats">
        <span>
            <img src = '{% static "images/contacts_icon.png" %}'>
            <h1>Контакти</h1>
        </span>
        <div class="search_div">
            <input type="text" id="search_contacts" class="search_bar" placeholder = 'Пошук'>
            <img src = '{% static "images/search_icon.png" %}'>
            
        </div>
    </input>
    <div class = 'contacts'>
        {% for friend in friends %}
        <button class = 'single_contact'data-id="{{ friend.id }}">
            <img src = '{% static "images/avatar_test.png" %}'>
            <h3>{{ friend.pseudonym }}</h3>
        </button>
        {% endfor%}
    </div>   
</div> 
</div> 

{% endblock %}

{% block content %} 
<div id="chat" style="display: none; ">
            <div id="messages">
                <div id="load-message-line"></div>
            </div>
            <div id="control-elements">
                <input type="text" id="msg-input">
                <button id="send-msg">Send</button>
            </div>
        </div>
<div id="not-select">
    <h1 style="text-align: center;">Почніть нове спілкування</h1>
    <p style="text-align: center;">Оберіть контакт зі списку ліворуч <br> або створіть групу, щоб почати спілкування</p>
</div>
<div class = 'block_messages'>
    <div class = 'chat_messages'>
        <div class = 'message_nav'>
            <span class = 'nav_text'>
                <img src = '{% static "images/messages_icon.png" %}'>
                <h2>Повідомлення</h2>
            </span>

            <button class = 'show_all'>Дивитись всі</button>

        </div>

        <div class = 'last_chat_messages'>
            {% for chat_data in individual_chats %}
                <button class = 'created_chat' data-id="{{ chat_data.chat_id }}">
                    <img src = '{% static "images/avatar_test.png" %}'>
                    <span class = 'friend_message'>
                        <h3>{{ chat_data.other_user.pseudonym }}</h3>
                        <h4 class="latest_message">Привіт! Як справи?</h4>
                    </span>
                    <h5 class="message_date">
                        18:20
                    </h5>
                </button>
                
            {% endfor%}
        </div>

    </div>
    <div class = 'group_messages'>
        <div class = 'message_nav'>
            <span class = 'nav_text'>
                <img src= '{% static "images/messages_icon.png" %}'>
                <h2>Групові чати</h2>
            </span>

            <button class = 'show_all'>Дивитись всі</button>
            
        </div>

        <div class = 'last_group_messages'>
            {% for chat_data in group_chats %}
                <button class = 'created_group'>
                    <img src = '{% static "images/avatar_test.png" %}'>
                    <span class = 'group_message'>
                        <h3>{{ chat_data.name }}</h3>
                        <h4 class="latest_message">Привіт! Як справи?</h4>
                    </span>
                    <h5 class="message_date">
                        18:20
                    </h5>
                </button>
                
            {% endfor%}
        </div>
    </div>
</div>

<div id = 'add_group_pop-up' class="pop-up disable">
    {% include 'parts/create_group.html' %}
</div> 



<div class = 'sender_avatar' data-img = '{% static "images/avatar_test.png" %}' style = "display : none;"></div>
<div class="message_status_image" data-img = '{% static "images/message_delivered.png" %}' style = "display : none;"></div>
{%endblock%}

{%block scripts%}
    <script src = "{% static 'chat_app/js/chat.js' %}"></script>
{% endblock %}



