{% load static %}

<div class = 'form_div' id = 'form_post_div'>
    <h1>Створити публікацію </h1>
    <form id = 'form_post' method = 'post' action= '{% url "create_post" %}'>
        {{form_post.as_p}}
        <div id = 'links_list'>
            <label for="link_1">Посилання:</label>
            <input type="url" name="link" placeholder="Посилання" id = 'link_1'>
        </div>
        <div class = 'error_container' id = "post_error"></div>
        
            <button type="button" id = 'add_link' id = 'image_button'>
                <img src = "{% static 'images/plus_button.png' %}">
            </button>
        
            <div class = 'post_forms_buttons'>

            <button type="submit" class = 'style_button'>
                <img src = "{% static 'images/publication_button_icon.png' %}">
            </button>

            <button type="button" id = 'image_button'>
                <img src = "{% static 'images/image_button_icon.png' %}">
            </button>

            </div>

            
        </div>
    </form>
</div>