{% extends "base.html" %}
{%load static%}

{% block meta %}
<meta name="csrf_token" content="{{ csrf_token }}">
{% endblock %}
{% block links %}
<link rel="stylesheet" href = "{% static 'post_app/css/post.css' %}">
{% endblock %}

{% block side_panel_content %} 
 <div class = "user_profile_div">
        <div class = "profile_div">
            <div class = "avatar_div">
                <img src = "{% static 'images/avatar_test.png' %}"> 
            </div>
            <div class = "username_div">
                <span class = "name">Lina Li</span>
                <span class = "username">@thelili</span>
            </div>
        </div>
        <div class = "info_div">
            <div class = "info_slot_div">
                <span class = "info_number">566</span>
                <span class = "info_text">Дописи</span>
            </div>
            <div class = "info_slot_div" id = "center_info_slot">
                <span class = "info_number">12.1K</span>
                <span class = "info_text">Читачі</span>
            </div>
            <div class = "info_slot_div">
                <span class = "info_number">222</span>
                <span class = "info_text">Друзі</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class = 'create_post_pannel'>

    <input type="text" name="post_text" placeholder="Текст публікації" id = 'post_text' maxlength = '150'>
    <div class = 'pannel_buttons'>
        <button class = 'style_button' id = 'to_creation'>Перейти до оформлення</button>
    </div>
</div>
<div class = 'pop-up disable'>
    <div class = 'form_div' id = 'form_post_div'>
        <h1>Створити публікацію </h1>
        <form id = 'form_post' method = 'post' action= '{% url "create_post" %}'>
            {{form_post.as_p}}
            <div id = 'links_list'>
                <label for="link_1">Посилання:</label>
                <input type="url" name="link" placeholder="Посилання" id = 'link_1'>
            </div>
            <div class = 'error_container' id = "post_error"></div>
            <button type="button" id = 'add_link'>+</button>
            <button type="submit" class = 'style_button'>Відправити</button>
        </form>
    
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'post_app/js/post.js' %}"></script>
{% endblock %}