<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = 'stylesheet' href = '{% static "user_app/css/auth.css"%}'>
    <title></title>
</head>
<body>
    <div class = 'header'>
        <img class = 'logo' src = "{% static 'images/logo_image.png' %}">
    </div class = 'header'>
    <div class = "content">
        <div class = 'form_div'>
            <div class = 'navigation'>
                <button class = 'nav_button selected_button' id = 'register'>Реєстрація</button>
                <button class = 'nav_button' id = 'login'>Авторизація</button>
            </div>
            <div class = 'form' id = 'register'>
                {% include 'parts/register.html' %}
            </div>
            <div class = 'form disable' id = 'login'>
                {% include 'parts/login.html' %}
            </div>
        </div>
        <img class = 'auth_image' src = "{% static 'images/auth_image.png' %}">
    </div>
    <script src = '{% static "user_app/js/auth.js" %}'></script>
</body>
</html>